[MASTER]



[MESSAGE CONTROL]

disable=missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring

[FORMAT]


[REFACTORING]
max-nested-blocks=3
max-branches=15

[DESIGN]
max-positional-arguments=20
max-args=20
max-locals=20
max-attributes=20
max-statements=60
min-public-methods=1
