h2{
    padding: 0px 0px 10px 0px;
    font-size: 30;
    color: white;
    width: 50%;
    text-align: center;
    margin: 0px;
}

h3{
    padding-top: 2%;
    padding-bottom: 3%;
    margin: 0px;
    font-size: 20;
    color: white;
    font-weight: normal;
    width: 50%;
    text-align: center;
}

body {
    background-color: hsl(255 27 23);
    display: flex;  
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    height: 80%; 
}

form {
    color: white;
    font-family: Arial, sans-serif;
}

.delete{
    color: white; 
    border: 2px solid hsl(0 100 66); 
}

.delete:hover{
    background-color: hsl(0 100 66);
    color: white;
}

.delete:active{
    background-color: hsl(0 100 55);
    color: white;
}


a{
    color: white; 
    background-color: hsl(256 22 13); 
    border: 2px solid hsl(256 0 70); 
}

a:hover{
    background-color: hsl(256 0 70); 
    color: white; 
}

a:active{
    background-color: hsl(256 0 60); 
    color: white; 
}

.button{
    margin-right: 10px; 
    padding: 12px 18px; 
    text-decoration: none;
    background-color: hsl(256 22 13); 
    border-radius: 10px;
    font-size: 17;  
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
}

.button:hover{
    transform: scale(1.025);
    cursor: pointer;
}
.button:active{
    transform: scale(0.975);
}

.buttons {
    display: flex;
    font-size: 17;  
    width: 50%;
}
