h2{
    font-size: 35;
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0px;
    text-align: center;
}

body {
    background-color: hsl(255 27 23);
    display: flex;  
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    height: 80%; 
}

p{
    margin: 0;
}

textarea{
    font-family: Arial, sans-serif;
    resize: none;
    field-sizing: content;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    color: white;
    font-family: Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    gap: 15px;
    width: 50%;
}
.inputfield{
    width: 240px;
    box-sizing: border-box;
    border: 1px solid rgb(255,255,255);
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    color: white;
    background-color: rgb(30, 26, 41);
}

.button {
    margin-right: 10px; 
    padding: 10px 15px; 
    text-decoration: none;
    color: white;
    background-color: rgb(38, 38, 38); 
    border-radius: 10px;
    transition: transform 0.2s, background-color 0.2s ease;
    font-size: 15;  
}

.button:hover {
    transform: scale(1.025);
    cursor: pointer;
}

.button:active{
    transform: scale(0.975);
    cursor: pointer;
}

input[type="submit"]{
    border: 2px solid hsl(120 70 50);
}

input[type="submit"]:hover{
    background-color: hsl(120 70 50);
}

input[type="submit"]:active{
    background-color: hsl(120 70 40);
}

a{
    border: 2px solid hsl(0 100 66); 
}

a:hover{
    background-color: hsl(0 100 66);
}

a:active{
    background-color: hsl(0 100 55);
}

.warning{
    color: white;
    border: 1px solid hsl(256 22 95);
}

.warning:hover{
    background-color: hsl(256 22 95);
    color: black;
}

.warning:active{
    background-color: hsl(256 22 90);
    color: black;
}


.buttons {
    display: flex;
    position: relative;
    font-size: 15;  
}
