h2{
    font-size: 30;
    color: white;
}

body {
    background-color: hsl(255 27 23);
    display: flex;  
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    height: 50%; 
}
    
.buttons {
    display: flex;
}

a.button{
    margin-right: 10px; 
    padding: 10px 15px; 
    text-decoration: none;
    color: white; 
    background-color: hsl(256 22 13); 
    border: 1px solid hsl(256 22 95); 
    border-radius: 10px;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
}
a.button:hover{
    background-color: hsl(256 22 95); 
    color: hsl(256 22 13); 
    transform: scale(1.025);
    cursor: pointer;
}
a.button:active{
    background-color: hsl(256 22 90); 
    color: hsl(256 22 13); 
    transform: scale(0.975);
}