body {
    background-color: hsl(255 27 23);
    display: flex;  
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    min-height: 50%;
    color: white;
    overflow-y: auto;
}

h2{
    font-size: 30;
    color: white;
}

pre{
    padding: 0px;
    margin: 0px;
}

.reference{
    display: flex;
    flex-direction: row;
    align-items: center; 
    vertical-align: middle;
    gap: 10px;
    margin-top: 25px;
}


#references{
    display: flex;
    flex-direction: column;
    align-items: left; 
    vertical-align: middle;
}

form{
    margin: 0;
    padding: 0;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center; 
    vertical-align: middle;
    gap: 5px;
}

.buttonsBibtex{
    display: flex;
    flex-direction: column;
    align-items: center; 
    vertical-align: middle;
    gap: 5px;
}


.topButtons{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center; 
    vertical-align: middle;
}

.home{
    position: absolute;
    top: 0;
    left: 0; 
    margin: 10px 10px 10px 10px;
    padding: 10px 15px; 
}

.button{
    display: inline-block;
    padding: 6px 9px;
    text-decoration: none;
    color: white;
    background-color: hsl(256 22 13);
    border: 1px solid hsl(256 22 95);
    border-radius: 10px;
    transition: transform 0.2s, background-color 0.2s, color 0.2s, filter 0.2s;
    font-size: 14px;
}

.button:hover{
    background-color: hsl(256 22 95);
    color: hsl(256 22 13);
    transform: scale(1.025);
    cursor: pointer;
}
.button:active{
    background-color: hsl(256 22 90);
    color: hsl(256 22 13);
    transform: scale(0.975);
}


.delete{
    border: 1px solid hsl(0 100 66); 
}

.delete:hover{
    background-color: hsl(0 100 66);
    fill: black;
    color: white;
}
.refButton:hover img{
    filter: invert(100%);
}
.refButton:active img{
    filter: invert(100%);
}

.delete:hover img{
    filter: invert(0%);
}
.delete:active img{
    filter: invert(0%);
}

.delete:active{
    background-color: hsl(0 100 55);
    color: white;
}

