<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/edit.css') }}">
</head>

{% extends "layout.html" %}

{% block title %}
Edit Reference | References
{% endblock %}

{% block body %}

<h2>Edit Reference</h2>

<form action="/edit" method="POST">
    {% if reference.reference_type == "book" %}
    <p>Author(s):<br>
        <textarea name="authors" rows="5" cols="30" class="inputfield" placeholder="Enter author(s), separate authors by semicolons (;)" required>{{authors}}</textarea>
    </p>
    <p>Title:<br>
        <input type="text" name="title" class="inputfield" value="{{reference.title}}" placeholder="Enter title" required>
    </p>
    <p>Year of Publication:<br>
        <input type="number" name="year" class="inputfield" value="{{reference.year}}" placeholder="Enter publication year" required>
    </p>
    <p>Publisher:<br>
        <input type="text" name="publisher" class="inputfield" value="{{reference.publisher}}" placeholder="Enter publisher name" required>
    </p>
    <p>Editor(s):<br>
        <input type="text" name="editor" class="inputfield" value="{{reference.editor}}" placeholder="Enter editor(s)" required>
    </p>
    {% elif reference.reference_type == "inbook" %}
    <p>Author(s):<br>
        <textarea name="authors" rows="5" cols="30" class="inputfield" placeholder="Enter author(s), separate authors by semicolons (;)" required>{{authors}}</textarea>
    </p>
    <p>Title:<br>
        <input type="text" name="title" rows="2" cols="30" class="inputfield" value="{{reference.title}}" placeholder="Enter title of the chapter or section" required>
    </p>
    <p>Book title:<br>
        <input type="text" name="booktitle" rows="2" cols="30" class="inputfield" value="{{reference.booktitle}}" placeholder="Enter book title" required>
    </p>
    <p>Year of Publication:<br>
        <input type="number" name="year" class="inputfield" value="{{reference.year}}" placeholder="Enter publication year" required>
    </p>
    <p>Publisher:<br>
        <input type="text" name="publisher" class="inputfield" value="{{reference.publisher}}" placeholder="Enter publisher name" required>
    </p>
    <p>Editor:<br>
        <textarea name="editors" rows="2" cols="30" class="inputfield" placeholder="(Optional) Enter editor(s), separate editors by semicolons (;)">{{reference.editor}}</textarea>
    </p>
    {% elif reference.reference_type == "miscellaneous" %}
    <p>Author(s):<br>
        <textarea name="authors" rows="5" cols="30" class="inputfield" placeholder="(Optional) Enter author(s), separate authors by semicolons (;)"></textarea>
    </p>
    <p>Title:<br>
        <input type="text" name="title" class="inputfield" placeholder="Enter title" required>
    </p>
    <p>How Published:<br>
        <input type="text" name="how_published" class="inputfield" placeholder="Enter how published" required>
    </p>
    <p>Month of Publication:<br>
        <input type="number" name="month" class="inputfield" placeholder="(Optional) Enter publication month">
    </p>
    <p>Year of Publication:<br>
        <input type="number" name="year" class="inputfield" placeholder="(Optional) Enter publication year">
    </p>
    <p>Note:<br>
        <input type="text" name="note" class="inputfield" placeholder="(Optional) Enter note">
    </p>
    <p>Annote:<br>
        <input type="text" name="annote" class="inputfield" placeholder="(Optional) Enter annote">
    </p>
    {% endif %}
    <p>Reference key:<br>
        <input type="text" class="inputfield" name="reference_key" value="{{reference.reference_key}}" placeholder="Enter reference key" required>
    </p>
    <p>Keyword(s):<br>
        <textarea rows="4" cols="30" class="inputfield" type="text" name="keywords" placeholder="(Optional) Enter keyword(s), separate keywords by commas (,)">{{reference.keywords}}</textarea>
    </p>
    <input type="hidden" name="id" value="{{reference.id}}">
    <input type="hidden" name="confirmed" value="1">
    <div class="buttons">
        <input type="submit" class="button" value="Confirm Changes">
        <a href="/list_of_references" class="button">Discard Changes</a>
    </div>
    
</form>

<script>
    const regex = /^[a-zA-Z0-9\-:_]*$/;
    document.querySelector("body > form").addEventListener('submit', function(event) {
        let refKey = document.querySelector('input[name="reference_key"]').value;
        if(!regex.test(refKey)){
            alert("Invalid reference key format. Only letters (a-z, A-Z), numbers (0-9), and special characters ':', '-' and '_' are allowed.");
            event.preventDefault();
            return false;
        }
        return true;
    });
    let inputField = document.querySelector('input[name="reference_key"]');
    let originalColor = inputField.style.backgroundColor;
    inputField.addEventListener('input', function(event) {
        let refKey = event.target.value;
        if(!regex.test(refKey) && refKey != ""){
            inputField.style.backgroundColor = "rgb(255, 80, 80)"
        }
        else{
            inputField.style.backgroundColor = originalColor;
        }
    });
</script>

{% endblock %}