<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/edit.css') }}">
    <script src="{{url_for('static', filename='scripts/warning.js')}}"></script>
</head>

{% extends "layout.html" %}

{% block title %}
Edit Reference | References
{% endblock %}

{% block body %}

<h2>Edit Reference</h2>

<form action="/edit" method="POST">
    {% if reference.reference_type == "book" %}
        <p>Author(s):<br>
            <textarea name="authors" rows="5" cols="30" class="inputfield" placeholder="Enter author(s), separate authors by semicolons (;)" required>{{authors}}</textarea>
        </p>
        <p>Title:<br>
            <input type="text" name="title" class="inputfield" value="{{reference.title}}" placeholder="Enter title" required>
        </p>
        <p>Year of Publication:<br>
            <input type="number" name="year" class="inputfield" value="{{reference.year}}" placeholder="Enter publication year" required>
        </p>
        <p>Publisher:<br>
            <input type="text" name="publisher" class="inputfield" value="{{reference.publisher}}" placeholder="Enter publisher name" required>
        </p>
        <p>Editor(s):<br>
            <input type="text" name="editors" class="inputfield" value="{{editors}}" placeholder="Enter editor(s)" required>
        </p>
    {% elif reference.reference_type == "inbook" %}
        <p>Author(s):<br>
            <textarea name="authors" rows="5" cols="30" class="inputfield" placeholder="Enter author(s), separate authors by semicolons (;)" required>{{authors}}</textarea>
        </p>
        <p>Title:<br>
            <input type="text" name="title" rows="2" cols="30" class="inputfield" value="{{reference.title}}" placeholder="Enter title of the chapter or section" required>
        </p>
        <p>Year of Publication:<br>
            <input type="number" name="year" class="inputfield" value="{{reference.year}}" placeholder="Enter publication year" required>
        </p>
        <p>Publisher:<br>
            <input type="text" name="publisher" class="inputfield" value="{{reference.publisher}}" placeholder="Enter publisher name" required>
        </p>
        <p>Book title:<br>
            <input type="text" name="booktitle" rows="2" cols="30" class="inputfield" value="{{reference.booktitle}}" placeholder="(Optional) Enter book title">
        </p>
        <p>Editor:<br>
            <textarea name="editors" rows="2" cols="30" class="inputfield" placeholder="(Optional) Enter editor(s), separate editors by semicolons (;)">{{editors}}</textarea>
        </p>
    {% elif reference.reference_type == "misc" %}
        <p>Author(s):<br>
            <textarea name="authors" rows="5" cols="30" class="inputfield" placeholder="(Optional) Enter author(s), separate authors by semicolons (;)" required>{{authors}} </textarea>
        </p>
        <p>Title:<br>
            <input type="text" name="title" rows="2" cols="30" class="inputfield" value="{{reference.title}}" placeholder="Enter title of the chapter or section" required>
        </p>
        <p>How Published:<br>
            <input type="text" name="howpublished" class="inputfield" value="{{reference.howpublished}}" placeholder="(Optional) Enter how published">
        </p>
        <p>Month of Publication:<br>
            <input type="text" name="month" class="inputfield" value="{{reference.month}}" placeholder="(Optional) Enter publication month">
        </p>
        <p>Year of Publication:<br>
            <input type="text" name="year" class="inputfield" value="{{reference.year}}" placeholder="(Optional) Enter publication year">
        </p>
        <p>Note:<br>
            <input type="text" name="note" class="inputfield" value="{{reference.note}}" placeholder="(Optional) Enter note">
        </p>
    {% elif reference.reference_type == "article" %}
        <p>Author(s):<br>
            <textarea name="authors" rows="5" cols="30" class="inputfield" placeholder="Enter author(s), separate authors by semicolons (;)" required>{{authors}}</textarea>
        </p>
        <p>Title:<br>
            <input type="text" name="title" rows="2" cols="30" class="inputfield" value="{{reference.title}}" placeholder="Enter title of the chapter or section" required>
        </p>
        <p>Journal:<br>
            <input type="text" name="journal" rows="2" cols="30" class="inputfield" value="{{reference.journal}}" placeholder="Enter the name of the journal" required>
        </p>
        <p>Year of Publication:<br>
            <input type="number" name="year" class="inputfield" value="{{reference.year}}" placeholder="Enter publication year" required>
        </p>
        <p>Volume:<br>
            <input type="number" name="volume" class="inputfield" value="{{reference.volume}}" placeholder="(Optional) Enter the volume number of the journal"></textarea>
        </p>
        <p>Number:<br>
            <input type="number" name="number" class="inputfield" value="{{reference.number}}" placeholder="(Optional) Enter the issue number of the journal">
        </p>
        <p>Pages:<br>
            <input type="text" name="pages" rows="2" cols="30" class="inputfield" value="{{reference.page}}" placeholder="(Optional) Enter the page numbers on which the article appears.">
        </p>
        <p>Month:<br>
            <input type="text" name="month" rows="2" cols="30" class="inputfield" value="{{reference.month}}" placeholder="(Optional) Enter the month of publication.">
        </p>
        <p>Note:<br>
            <textarea name="note" rows="5" cols="30" class="inputfield" placeholder="(Optional) Miscellaneous information">{{reference.note}}</textarea>
        </p>
    {% endif %}
    <p>Reference key:<br>
        <input type="text" class="inputfield" name="reference_key" value="{{reference.reference_key}}" placeholder="Enter reference key" required>
    </p>
    <p>Keyword(s):<br>
        <textarea rows="4" cols="30" class="inputfield" type="text" name="keywords" placeholder="(Optional) Enter keyword(s), separate keywords by commas (,)">{{reference.keywords}}</textarea>
    </p>
    <input type="hidden" name="id" value="{{reference.id}}">
    <input type="hidden" name="confirmed" value="1">
    <div class="buttons">
        <input type="submit" class="button" value="Confirm Changes">
        <a href="/list_of_references" class="button">Discard Changes</a>
    </div>
    
</form>

<script>
    const regex = /^[a-zA-Z0-9\-:_]*$/;
    let originalRefKey = document.querySelector('input[name="reference_key"]').value;
    const referenceKeys = {{ ref_keys | tojson }} //ignore the error

    document.querySelector("body > form").addEventListener('submit', function(event) {
        let refKey = document.querySelector('input[name="reference_key"]').value;
        if(!regex.test(refKey)){
            showWarning("Invalid reference key format. Only letters (a-z, A-Z), numbers (0-9), and special characters ':', '-' and '_' are allowed.");
            event.preventDefault();
            return false;
        }
        else if(originalRefKey != refKey && referenceKeys.includes(refKey)){
            showWarning("Reference key already used! Please choose a different one.");
            event.preventDefault();
            return false;
        }

        return true;
    });
    let inputField = document.querySelector('input[name="reference_key"]');
    let originalColor = inputField.style.backgroundColor;
    inputField.addEventListener('input', function(event) {
        let refKey = event.target.value;
        if(!regex.test(refKey) && refKey != ""){
            inputField.style.backgroundColor = "rgb(255, 80, 80)"
        }
        else{
            inputField.style.backgroundColor = originalColor;
        }
    });
</script>

{% endblock %}
