<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/list_of_references.css') }}">
</head>

{% extends "layout.html" %}

{% block title %}
List of references | References
{% endblock %}

{% block body %}

<h2>List of references</h2>

{% if references %}
<span id="references">
{% if toggle == "on" %}
{% for i in references %}
    <!-- Placeholder starts here -->
    <div class="reference">
        title = {{i.title}}, <br>
        author = {{i.author}}, <br>
        year = {{i.year}}, <br>
        publisher = {{i.publisher}} <br>
        <form action="/edit" method="POST">
            <input type="hidden" name="id" value="{{i.id}}">
            <input type="hidden" name="confirmed" value="0">
            <input type="submit" class="button" title="Edit" value="Edit">
        </form>
        <form action="/delete" method="POST">
            <input type="hidden" name="id" value="{{i.id}}">
            <input type="hidden" name="confirmed" value="0">
            <input type="submit" class="button" title="Delete" value="Delete">
        </form>
        <!-- Placeholder ends here -->
    </div>
    <br>
{% endfor %}
{% else %}
{% for i in references %}
    <div class="reference">
        {{i.title}}, {{i.author}}, {{i.year}}, {{i.publisher}}
        <form action="/edit" method="POST">
            <input type="hidden" name="id" value="{{i.id}}">
            <input type="hidden" name="confirmed" value="0">
            <input type="submit" class="button edit" title="Edit" value="Edit">
        </form>
        <form action="/delete" method="POST">
            <input type="hidden" name="id" value="{{i.id}}">
            <input type="hidden" name="confirmed" value="0">
            <input type="submit" class="button delete" title="Delete" value="Delete">
        </form>
    </div>
     <br>
{% endfor %}
{% endif %}
</span>
{% else %}
<p>No references found</p>
{% endif %}

<p>
    <a href="/">Go to front page</a>
</p>
<form action="/list_of_references" method="POST">
    {% if toggle == "on" %}
    <input type="hidden" name="state" value="off">
    {% else %}
    <input type="hidden" name="state" value="on">
    {% endif %}
    <input type="submit" class="button" value="Toggle BibTeX format">
</form>
{% endblock %}
