<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/list_of_references.css') }}">
    <script src="{{url_for('static', filename='scripts/list_of_references.js')}}"></script>
</head>

{% extends "layout.html" %}

{% block title %}
List of references | References
{% endblock %}

{% block body %}

<h2>List of references</h2>


<form action="/filter_references" method="POST">
    <input type="text" class="inputfield" name="query">
    <input type="submit" class="button" value="Search">
    <input type="submit" class="button" value="Clear filters">
</form>
{% if references %}
<span id="references">


{% if toggle == "on" %}
<div id="all-references-in-bibtex" style="display: none; white-space: pre;">
    {% for i in references %}
{{ i.text.strip() }}
    {% endfor %}
</div>

<div class="topButtons">
    <button class="button" id="copy_all_button" onclick="copyAllReferences('all-references-in-bibtex')">Copy All References</button>
    <a href="/download/allreferences.bib" class="button" download="allreferences.bib">Download All References</a>
</div>

{% endif %}

{% for i in references %}
<div class="reference">
        <div class="{{'buttons' if toggle == 'off' else 'buttonsBibtex'}}">
            {% if toggle == "on" %}
            <a href="/download/{{i.id}}.bib" class="button refbutton" title="Download" value="Download" download="reference.bib">
                <img src="/static/icons/google_download.svg" height="16"/>
            </a>
            <button id="copy_button" class="copy-button button refButton" title="Copy" onclick="copyToClipboard('bibtex-{{ i.id }}')">
                <img src="/static/icons/google_copy.svg" height="16"/>
            </button>
            {% endif %}
            <form action="/edit" method="POST">
                <input type="hidden" name="id" value="{{i.id}}">
                <input type="hidden" name="confirmed" value="0">
                <button class="button refButton" title="Edit" value="Edit" type="submit">
                    <img src="/static/icons/google_edit.svg" height="16"/>
                </button>
            </form>
            <form action="/delete" method="POST">
                <input type="hidden" name="id" value="{{i.id}}">
                <input type="hidden" name="confirmed" value="0">
                <button class="delete button refButton" title="Delete" value="Delete" type="submit">
                    <img src="/static/icons/google_delete.svg" height="16"/>
                </button>
            </form>
        </div>
        {% if toggle == "on" %}
        <div id="bibtex-{{ i.id }}" class="bibtex-container">
        <pre>{{i.text}}</pre>
    </div>
    <br/>
        {% else %}
        <div id="bibtex-{{ i.id }}">
            {{i.text}}
        </div>
        {% endif %}
    </div>
{% endfor %}
</span>
{% else %}
<p>No references found</p>
{% endif %}

<p>
    <a href="/" class="button home">Go to front page</a>
</p>

<form action="/list_of_references" method="POST">
    {% if toggle == "on" %}
    <input type="hidden" name="state" value="off">
    {% else %}
    <input type="hidden" name="state" value="on">
    {% endif %}
    <input type="submit" class="button" value="Toggle BibTeX format">
</form>
{% endblock %}
