<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/list_of_references.css') }}">
    <script src="{{url_for('static', filename='scripts/list_of_references.js')}}"></script>
</head>

{% extends "layout.html" %}

{% block title %}
List of references | References
{% endblock %}

{% block body %}

<h2>List of references</h2>

{% if references %}
<span id="references">

<!-- Copy all references button from here -->
{% if toggle == "on" %}
<div id="all-references-in-bibtex" style="display: none; white-space: pre;">
    {% for i in references %}
{{ i.text.strip() }}
    {% endfor %}
</div>
<button class="copy-button button" onclick="copyAllReferences('all-references-in-bibtex')">Copy All References</button>
{% endif %}
<!-- to here -->

{% for i in references %}
    <div class="reference">
        {% if toggle == "on" %}
        <!-- Copy button code from here -->
        <div id="bibtex-{{ i.id }}" class="bibtex-container">
            <!-- to here -->
        <pre>{{i.text}}</pre>
        <!-- Copy button code from here -->
    </div>
    <br/>
    <!-- to here -->
        {% else %}
        <div id="bibtex-{{ i.id }}">
            {{i.text}}
        </div>
        {% endif %}

        <div class="{{'buttons' if toggle == 'off' else 'buttonsBibtex'}}">
            {% if toggle == "on" %}
            <button class="copy-button button refButton" onclick="copyToClipboard('bibtex-{{ i.id }}')">Copy</button>
            {% endif %}
            <form action="/edit" method="POST">
                <input type="hidden" name="id" value="{{i.id}}">
                <input type="hidden" name="confirmed" value="0">
                <input type="submit" class="button refButton" title="Edit" value="Edit">
            </form>
            <form action="/delete" method="POST">
                <input type="hidden" name="id" value="{{i.id}}">
                <input type="hidden" name="confirmed" value="0">
                <input type="submit" class="delete button refButton" title="Delete" value="Delete">
            </form>
        </div>
    </div>
{% endfor %}
</span>
{% else %}
<p>No references found</p>
{% endif %}

<p>
    <a href="/" class="button home">Go to front page</a>
</p>
<form action="/list_of_references" method="POST">
    {% if toggle == "on" %}
    <input type="hidden" name="state" value="off">
    {% else %}
    <input type="hidden" name="state" value="on">
    {% endif %}
    <input type="submit" class="button" value="Toggle BibTeX format">
</form>
{% endblock %}
