<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/new_book_reference.css') }}">
</head>

{% extends "layout.html" %}

{% block title %}
Add a new book reference | References
{% endblock %}

{% block body %}

<h2>Add a new book reference</h2>

<form action="/add_book_reference" method="POST">
    <p>Author(s):<br>
        <textarea name="authors" rows="5" cols="30" placeholder="Enter author(s), separate authors by semicolons (;)" required></textarea>
    </p>
    <p>Title:<br>
        <input type="text" name="title" placeholder="Enter title" required>
    </p>
    <p>Year of Publication:<br>
        <input type="number" name="year" placeholder="Enter publication year" required>
    </p>
    <p>Publisher:<br>
        <input type="text" name="publisher" placeholder="Enter publisher name" required>
    </p>
    <p>Reference key:<br>
        <input type="text" name="reference_key" placeholder="Enter reference key" required>
    </p>
    <p>Keyword(s):<br>
        <textarea rows="4" cols="30" type="text" name="keywords" placeholder="(Optional) Enter keyword(s), separate keywords by commas (,)"></textarea>
    </p>
    <input type="submit" value="Submit">
</form>

<a href="/">Go to front page</a>

{% endblock %}