<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/new_book_reference.css') }}">
    <script src="{{url_for('static', filename='scripts/warning.js')}}"></script>
</head>

{% extends "layout.html" %}

{% block title %}
Add a new miscellaneous reference | References
{% endblock %}

{% block body %}

<h2>Add a new miscellaneous reference</h2>

<form action="/add_reference" method="POST">
    <p>Author(s):<br>
        <textarea name="authors" rows="5" cols="30" class="inputfield" placeholder="(Optional) Enter author(s), separate authors by semicolons (;)" required></textarea>
    </p>
    <p>Title:<br>
        <input type="text" name="title" class="inputfield" placeholder="Enter title" required>
    </p>
    <p>How Published:<br>
        <input type="text" name="howpublished" class="inputfield" placeholder="Enter how published" required>
    </p>
    <p>Month of Publication:<br>
        <input type="text" name="month" class="inputfield" placeholder="(Optional) Enter publication month">
    </p>
    <p>Year of Publication:<br>
        <input type="text" name="year" class="inputfield" placeholder="(Optional) Enter publication year">
    </p>
    <p>Note:<br>
        <input type="text" name="note" class="inputfield" placeholder="(Optional) Enter note">
    </p>
    <p>Keyword(s):<br>
        <textarea rows="4" cols="30" type="text" class="inputfield" name="keywords" placeholder="(Optional) Enter keyword(s), separate keywords by semicolons (;)"></textarea>
    </p>
    <input type="hidden" name="reference_type" value="misc">
    <input type="submit" class="button" value="Submit">
</form>

<a class="button" href="/selector">Go back</a>

{% endblock %}
