<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/new_book_reference.css') }}">'
    <script src="{{url_for('static', filename='scripts/warning.js')}}"></script>
</head>

{% extends "layout.html" %}

{% block title %}
Add a new book reference | References
{% endblock %}

{% block body %}

<h2>Add a new book reference</h2>

<form action="/add_reference" method="POST">
    <p>Author(s):<br>
        <textarea name="authors" rows="5" cols="30" class="inputfield" placeholder="Enter author(s), separate authors by semicolons (;)" required></textarea>
    </p>
    <p>Title:<br>
        <input type="text" name="title" class="inputfield" placeholder="Enter title" required>
    </p>
    <p>Year of Publication:<br>
        <input type="number" name="year" class="inputfield" placeholder="Enter publication year" required>
    </p>
    <p>Publisher:<br>
        <input type="text" name="publisher" class="inputfield" placeholder="Enter publisher name" required>
    </p>
    <p>Editor(s):<br>
        <input type="text" name="editors" class="inputfield" placeholder="(Optional) Enter editor(s), separate editors by semicolons (;)">
    </p>
    <p>Keyword(s):<br>
        <textarea rows="4" cols="30" type="text" class="inputfield" name="keywords" placeholder="(Optional) Enter keyword(s), separate keywords by semicolons (;)"></textarea>
    </p>
    <input type="hidden" name="reference_type" value="book">
    <input type="submit" class="button" value="Submit">
</form>

<a class="button" href="/selector">Go back</a>

{% endblock %}