<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/selector.css') }}">
</head>

{% extends "layout.html" %}

{% block title %}
Select reference type | References
{% endblock %}

{% block body %}

<h2>Select reference type</h2>

<p>
    <a class="button reftype" href={{url_for("add_book_reference") }}> Book </a>
</p>
<p>
    <a class="button reftype" href={{url_for("add_article_reference") }}> Article </a>
</p>
<p>   
    <a class="button reftype" href={{url_for("add_inbook_reference") }}> Inbook </a>
</p>
<p>
    <a class="button reftype" href={{url_for("add_book_reference") }}> Miscellaneous </a>
</p>

<a class="button frontpage" href="/">Go to front page</a>

{% endblock %}