<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/selector.css') }}">
</head>

{% extends "layout.html" %}

{% block title %}
Select reference type | References
{% endblock %}

{% block body %}

<h2>Select reference type</h2>

<p>
    <form method="POST" action="/selector">
        <input type="radio" name="reftype" value="/add_book_reference" required title="Please select one"> Book
        <!-- <input type="radio" name="reftype" value="2"> Article -->
        <input type="submit" class="button" value="Submit">    
    </form>
</p>

{% endblock %}