<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/selector.css') }}">
</head>

{% extends "layout.html" %}

{% block title %}
Select reference type | References
{% endblock %}

{% block body %}

<h2>Select reference type</h2>

<p>
    <a class="button reftype" href={{url_for("add_reference", reference_type="book")}}> Book </a>
</p>
<p>
    <a class="button reftype" href={{url_for("add_reference", reference_type="article")}}> Article </a>
</p>
<p>   
    <a class="button reftype" href={{url_for("add_reference", reference_type="inbook")}}> Inbook </a>
</p>
<p>
    <a class="button reftype" href={{url_for("add_reference", reference_type="misc") }}> Miscellaneous </a>
</p>
<p>
    <a class="button reftype" href={{url_for("add_reference_with_doi") }}> Add a reference using DOI </a>
</p>

<a class="button frontpage" href="/">Go to front page</a>

{% endblock %}